.scroll-to-top {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 1rem;
  right: 0.5rem;
  animation: fadeIn 700ms ease-in-out 1s both;
  cursor: pointer;
  z-index: 9999;
  @media (max-width: 767px) {
    bottom: 0.5rem;
    right: 0.5rem;
  }
}
@media screen and (max-width: 1024px) {
  .scroll-to-top {
    right: unset;
    left: 0.5rem;
    img {
      width: 100%;
      height: auto;
      max-height: 80px;
      min-height: 40px;
    }
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
